node_modules
npm-debug.log
appendonly.aof
dump.rdb

*.swp
*.DS_Store

analysis/data/*
!analysis/data/readme.md

analysis/results/*
!analysis/results/readme.md

analysis/*.Rhistory
analysis/*.RData
analysis/*.r.Rout
